# Appwrite environment variables
NEXT_PUBLIC_APPWRITE_ENDPOINT=
NEXT_PUBLIC_APPWRITE_PROJECT_ID=
NEXT_PUBLIC_APPWRITE_DATABASE_ID=

# Table IDs
NEXT_PUBLIC_APPWRITE_TABLE_CALENDARS=
NEXT_PUBLIC_APPWRITE_TABLE_TASKS=
NEXT_PUBLIC_APPWRITE_TABLE_EVENTS=
NEXT_PUBLIC_APPWRITE_TABLE_EVENT_GUESTS=
NEXT_PUBLIC_APPWRITE_TABLE_FOCUS_SESSIONS=

# Storage bucket IDs
NEXT_PUBLIC_APPWRITE_BUCKET_TASK_ATTACHMENTS=
NEXT_PUBLIC_APPWRITE_BUCKET_EVENT_COVERS=
NEXT_PUBLIC_AUTH_SUBDOMAIN=
NEXT_PUBLIC_DOMAIN=